@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #000000;
  color: #d16a2a;
  padding: 0.1rem;
}
.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("../images/att-logo-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 100%;
}
.nav .logo:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}
.nav .link-container {
  display: none;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .nav .link-container {
    display: block;
  }
}
.nav .link-container a {
  cursor: pointer;
  color: #d16a2a;
  text-decoration: none;
  margin-left: 2rem;
}
.nav .link-container > a:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  color: #ffffff;
}
.nav .cart-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #d16a2a;
}
.nav .cart-btn a {
  color: #d16a2a;
  text-decoration: none;
}
.nav .cart-btn i {
  display: block;
  color: #d16a2a;
}
.nav .mobile-nav-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav .mobile-nav-btn {
    display: none;
  }
}
.nav .mobile-nav-btn span {
  width: 30px;
  height: 2px;
  background: #d16a2a;
  margin-top: 0.3rem;
  border-radius: 5px;
}
.nav .mobile-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  background: white;
  left: 0;
  top: 100%;
  transition: left 0.4s ease-out;
}
.nav .mobile-nav.show-mobile-nav {
  display: block;
  transition: left 0.4s ease-out;
}
.nav .mobile-nav > a {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #d16a2a;
  transition: all 0.04s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 0.5px 1.5px 0.5px #d16a2a;
  background: rgba(0, 0, 0, 0.9333333333);
  width: 100%;
  padding: 0.7rem;
  transition: left 0.4s ease-out;
}
.nav .mobile-nav > a:hover {
  transform: scale(1.04);
  transition: all 0.04s ease;
  cursor: pointer;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: #032151;
  width: 100%;
  height: 100vh;
}
.hero h1 {
  color: #e9e0e0;
  text-align: center;
}
.hero p {
  text-align: center;
  max-width: 400px;
  margin-top: 2rem;
  color: #e9e0e0;
}
.hero button {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.hero button:hover {
  transition: all 0.4s ease-in-out;
  background: #000;
  color: #fff;
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background: #000;
}
.about-container h2 {
  color: #fff;
}
.about-container p {
  color: #fff;
  max-width: 500px;
  text-align: center;
  margin-top: 1rem;
}/*# sourceMappingURL=style.css.map */