@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  background: rgb(0, 0, 0);
  justify-content: space-around;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  background-image: url("../images/att-logo-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 45px;
  height: 45px;
  padding: 0.1rem;
  margin-right: 6rem;
}
.nav .logo:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}
.nav .link-container {
  display: none;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .nav .link-container {
    display: block;
  }
}
.nav .link-container a {
  cursor: pointer;
  color: #d16a2a;
  text-decoration: none;
  margin-left: 2rem;
}
.nav .link-container > a:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  color: #ffffff;
}
.nav .cart-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #d16a2a;
}
.nav .cart-btn a {
  color: #d16a2a;
  text-decoration: none;
}
.nav .cart-btn i {
  display: block;
  color: #d16a2a;
}
.nav .mobile-nav-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.nav .mobile-nav-btn span {
  width: 30px;
  height: 2px;
  background: #d16a2a;
  margin-top: 0.3rem;
  border-radius: 5px;
  transition: 0.4s;
}
.nav .mobile-nav-btn span:nth-child(2) {
  opacity: 1;
}
.nav .mobile-nav-btn span:nth-child(1) {
  transform: rotate(0);
}
.nav .mobile-nav-btn span:nth-child(3) {
  transform: rotate(0);
}
@media (min-width: 768px) {
  .nav .mobile-nav-btn {
    display: none;
  }
}
.nav .mobile-nav-btn .change span:nth-child(2) {
  opacity: 0;
}
.nav .mobile-nav-btn .change span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 8px);
}
.nav .mobile-nav-btn .change span:nth-child(3) {
  transform: rotate(45deg) translate(-9px, -8px);
}
.nav .mobile-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 100%;
  transition: all 0.4s ease-out;
  display: none;
  /* Hide the menu by default */
}
.nav .mobile-nav.show-mobile-nav {
  display: block;
  /* Show the menu when the class is added */
  transition: all 0.4s ease-out;
}
.nav .mobile-nav a {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #d16a2a;
  transition: all 0.04s ease;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5px 0.5px 1.5px 0.5px #d16a2a;
  background: rgba(0, 0, 0, 0.9333333333);
  width: 100%;
  padding: 0.7rem;
  transition: left 0.4s ease-out;
}
.nav .mobile-nav a:hover {
  transform: scale(1.04);
  transition: all 0.04s ease;
  cursor: pointer;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.788)), url("../images/att-hero-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.hero h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #d16a2a;
}
.hero h3 {
  margin-top: -1rem;
  color: #d16a2a;
}
.hero h2 {
  font-size: 4.5rem;
  color: #d16a2a;
  margin-top: -1rem;
}
.hero h5 {
  font-size: 2.6rem;
  margin-top: -2rem;
  color: #d16a2a;
}
.hero button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  background: rgba(255, 0, 0, 0.432);
  border: 0.5px solid rgb(255, 255, 255);
  margin-top: 2.5rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.hero button:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.653);
  background: rgb(255, 0, 0);
  box-shadow: 2px 1.5px 8px 0.1px red;
}
.hero p {
  color: #d16a2a;
  margin-top: 2rem;
  text-align: center;
  line-height: 1rem;
  max-width: 400px;
}
.hero a {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  color: #d16a2a;
  border: 0.5px solid #d16a2a;
  border-radius: 100%;
  padding: 0.1rem 0.5rem;
  bottom: 25px;
  transition: all 0.4 ease-in-out;
}
.hero a:hover {
  transition: all 0.4 ease-in-out;
  transform: scale(1.1);
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.1rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0.614)), url("../images/att-logo-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.about-container h2 {
  margin-top: 5rem;
  color: #fff;
}
.about-container p {
  color: #fff;
  max-width: 500px;
  text-align: center;
  margin-top: 1rem;
}
.about-container a {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  color: #d16a2a;
  border: 0.5px solid #d16a2a;
  border-radius: 100%;
  padding: 0.1rem 0.5rem;
  bottom: 25px;
  transition: all 0.4 ease-in-out;
}
.about-container a:hover {
  transition: all 0.4 ease-in-out;
  transform: scale(1.1);
}
.about-container #scrollDownButton {
  position: fixed;
  bottom: 20px;
  position: center center;
  z-index: 1;
  padding: 10px;
  background: none;
  color: #d16a2a;
  border: 0.5px solid #d16a2a;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.4 ease-in-out;
}
.about-container #scrollDownButton:hover {
  transition: all 0.4 ease-in-out;
  transform: scale(1.1);
}

#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.727);
  color: #d16a2a;
  padding: 6px 11px;
  border-radius: 5px;
  border: 0.1px solid #d16a2a;
  cursor: pointer;
  z-index: 999999;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

#back-to-top-btn:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.01);
  background-color: rgb(0, 0, 0);
  border: 0.1px solid rgb(0, 0, 0);
}/*# sourceMappingURL=style.css.map */